<ion-content class="login-content">
  <div *ngIf="datosUsuario" class="login-container">

    <app-comp1></app-comp1>

    <!-- Conductor -->
      <ion-card-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="cerrarSesion()" class="back-button">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="IrModificar()">
              <ion-icon name="settings"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-card-title class="centered-title" color="light">Perfil</ion-card-title>
        </ion-toolbar>
      </ion-card-header>

      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

      <ion-card-content *ngIf="usu.id_rol !== 1" class="centered-content">
        Bienvenido señor conductor
        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12" class="icon-col">
              <ion-icon name="car"></ion-icon>
            </ion-col>
            <ion-col size="12">
              <p>{{ usu.id_rol }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card-content>
      

        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12">
              <p>{{ vh.patente }}</p>
            </ion-col>
            <ion-col size="7">
              <ion-icon name="create" (click)="editarPatente()" class="edit-icon"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12" class="icon-col">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="12">
              {{ usu.correo }}
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12" class="icon-col">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col size="12">
              {{ usu.correo }}
            </ion-col>
          </ion-row>
        </ion-item>
      

      <div class="wrapper">
        <div id="present-alert" class="ion-activatable ripple-parent custom-parent" [routerLink]="'/publicarviaje'">
          Publicar Viaje
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    

    <!-- Pasajero -->
    <ion-card-content *ngIf="usu.id_rol !== 2" class="centered-content">
      Bienvenido señor pasajero

      <ion-card-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="cerrarSesion()" class="back-button">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="IrModificar()">
              <ion-icon name="settings"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-card-title class="centered-title" color="light">Perfil</ion-card-title>
        </ion-toolbar>
      </ion-card-header>

      

      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

      <ion-card-content class="centered-content">
        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12" class="icon-col">
              <ion-icon name="walk"></ion-icon>
            </ion-col>
            <ion-col size="12">
              <p>{{ usu.id_rol }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
        </ion-card-content>

        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12" class="icon-col">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="12">
              {{ vh.patente }}
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12" class="icon-col">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col size="12">
              {{ usu.correo }}
            </ion-col>
          </ion-row>
        </ion-item>
      

      <div class="wrapper">
        <div [routerLink]="'/buscarviaje'" class="ion-activatable ripple-parent custom-parent">
          Buscar Viaje
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    

    <

