<ion-content class="login-content">
  <div class="login-container">
    <app-comp1></app-comp1>



    <!----Conductor-->

    <ion-card>

      <ion-card-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <!-- Cambié el slot de "end" a "start" y el icono a log-out -->
            <ion-button fill="clear" [routerLink]="'/perfil'" class="back-button">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-buttons>

          <!-- Añadí una clase para centrar el texto -->
          <ion-card-title class="centered-title" color="light">Modificar Perfil</ion-card-title>
        </ion-toolbar>
      </ion-card-header>

    


 



  


      <ion-card-content class="centered-content">


        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12">
              <p> Cambiar Foto  </p>
            </ion-col>
            <ion-col size="7">
              <!-- Agregué un ion-icon para editar -->
              <ion-button fill="outline" color="dark" (click)="takePicture()">Tomar Foto</ion-button>
              <img *ngIf="imageSource" src="{{ imageSource }}" alt="https://ionicframework.com/docs/img/demos/card-media.png" width="250px" height="250px">
            </ion-col>
          </ion-row>
        </ion-item>
    


        <ion-item class="centered-item">
          <ion-row>
            <ion-col size="12" class="icon-col">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="12">
              <ion-item class="centered-item">
                <ion-input placeholder="Nombre" color="light" clear-input></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-item>

        
        <div class="col-8">
          <ion-card class="colorcard">
            <br>
          <form (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="Nombre" class="col-2">Escriba su nuevo nombre:</label>
            <div class="col-8-md">
              <input type="text" [(ngModel)]="nombre" [ngModelOptions]="{ standalone: true }" value="{{nombreuser}}"required placeholder="{{usu.nombreuser}}">
            </div>
            <div *ngIf="formularioEnviado && (nombre.length < 4 || nombre.length > 12)"class="error-message" >
              El nombre debe tener entre 4 y 12 caracteres.
            </div>
            <div *ngIf="formularioEnviado && !validarNombre(nombre)"class="error-message" >
              El nombre no debe contener números ni caracteres especiales y debe comenzar con mayúscula.
            </div>
          </div>
          <ion-button type="submit">Guardar Nombre</ion-button>
          </form>
          <br>
      </ion-card-content>

      
      <div class="col-8">
        <ion-card class="colorcard">
          <ion-card-content>
            <br>
            <form (ngSubmit)="modipati()">
              <div class="form-group row">
                <label for="Patente" class="col-2">Escriba su nueva patente:</label>
                <div class="col-8-md">
                  <input type="text" [(ngModel)]="nuevaPatente" [ngModelOptions]="{ standalone: true }"
                         required placeholder="{{ vh.patente }}">
                </div>
                <div *ngIf="formularioEnviado && (nuevaPatente.length < 7 || nuevaPatente.length > 9)" class="error-message">
                  La patente debe tener entre 7 y 9 caracteres.
                </div>
                <div *ngIf="formularioEnviado && !validarPatente(nuevaPatente)" class="error-message">
                  La patente no cumple con el formato requerido.
                </div>
              </div>
              <ion-button type="submit">Guardar Patente</ion-button>
            </form>
            <br>
          </ion-card-content>
        </ion-card>
      </div>


      <div class="wrapper" >
        <div [routerLink]="'/perfil'" id="present-alert" class="ion-activatable ripple-parent custom-parent">
          Guardar cambios
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>


    </ion-card>

    <!----Pasajero-->


  </div>

  <!-- Otros elementos de inicio de sesión, como botones, etc. -->
</ion-content>