<ion-content class="login-content">
  <div class="login-container">
    <app-comp1></app-comp1>

    <ion-card>
      <ion-item class="custom-item-head">
        <ion-buttons slot="start">
          <ion-button fill="clear" [routerLink]="'/perfil'" class="back-button">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <p>Publicar viaje</p>
      </ion-item>

      <ion-card-content>
        <ion-item class="centered-item">
          <ion-icon name="car" slot="start"></ion-icon>
          <ion-input [(ngModel)]="fk_patente" type="text" placeholder="Patente del vehiculo" color="light"
            clear-input></ion-input>
        </ion-item>

        <ion-item class="centered-item">
          <ion-icon name="time" slot="start"></ion-icon>
          <ion-input [(ngModel)]="horasalida" placeholder="Hora de salida (formato HH:mm)" color="light"
            clear-input></ion-input>
        </ion-item>

        <ion-item class="centered-item">
          <ion-icon name="car" slot="start"></ion-icon>
          <ion-input [(ngModel)]="asientos_disponibles" type="number" placeholder="Asientos disponibles" color="light"
            clear-input></ion-input>
        </ion-item>

        <ion-item class="centered-item">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-input [(ngModel)]="direcinicio" type="text" placeholder="¿Donde se encuentra?" color="light"
            clear-input></ion-input>
        </ion-item>

        <ion-item class="centered-item">
          <ion-icon name="locate" slot="start"></ion-icon>
          <ion-input [(ngModel)]="direcdestino" type="text" placeholder="¿Hacia donde se dirige?" color="light"
            clear-input></ion-input>
        </ion-item>

        <ion-item class="centered-item">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>Sede:</ion-label>

          <ion-button fill="clear" (click)="mostrarListaSedes()">
            <p>Sedes disponibles:</p>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-list *ngIf="mostrarSedes">
          <ion-item *ngFor="let sede of sedes">
            <ion-label placeholder="Sedes disponibles">{{ sede.nombre_sede }}</ion-label>
            <ion-note slot="end">
              <!-- Puedes agregar cualquier información adicional aquí, si es necesario -->
            </ion-note>
          </ion-item>
        </ion-list>

        <ion-item class="centered-item">
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label>Comuna disponibles:</ion-label>

          <ion-button fill="clear" (click)="mostrarListaComunas()">
            <p>Comuna disponibles:</p>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-list *ngIf="mostrarComunas">
          <ion-item *ngFor="let comuna of comunas">
            <ion-label placeholder="Comunas disponibles"> {{ comuna.nombre_comuna }}</ion-label>
            <ion-note slot="end">
              <!-- Puedes agregar cualquier información adicional aquí, si es necesario -->
            </ion-note>
          </ion-item>
        </ion-list>


        <ion-item class="centered-item">
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-label>Precio:</ion-label>
          <ion-input [(ngModel)]="precio" maxlength="4" type="number" placeholder="Precio"
            color="light"></ion-input>
        </ion-item>


      </ion-card-content>

    </ion-card>

    <div *ngFor="let mensaje of mensajes" class="mensaje-error">
      {{ mensaje }}
    </div>

    <div class="wrapper">
      <div (click)="registrarViaje()" class="ion-activatable ripple-parent custom-parent">
        Publicar Viaje
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

  </div>
</ion-content>