<ion-content class="login-content">
  <div class="login-container">
    <app-comp1></app-comp1>


    <ion-card>

      <ion-item class="custom-item-head">

        <ion-buttons slot="start">
          <ion-button fill="clear" [routerLink]="'/iniciosesion'" class="back-button">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <p>Recuperar contraseña</p>

      </ion-item>


      <ion-item class="centered-item">

        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="correo" placeholder="Correo" color="light" clear-input></ion-input>
      </ion-item>
      
      <ion-button expand="full" (click)="obtenerIdUsuario()">
        Aceptar
      </ion-button>
      
    </ion-card>

    <ion-card *ngIf="mostrarInputRespuesta">
      <ion-item class="centered-item" >
        <ion-icon name="shield-checkmark" slot="start"></ion-icon>
        <ion-input [(ngModel)]="respuesta" type="password" placeholder="Escriba aquí su respuesta" color="light"
          clear-input></ion-input>
      </ion-item>
      
      <ion-item class="centered-item" *ngIf="mostrarInputRespuesta">
        <ion-button expand="full" (click)="validarRespuesta()">
          Aceptar
        </ion-button>
      </ion-item>
      
    </ion-card>

    <div *ngFor="let mensaje of mensajes" class="mensaje-error">
      {{ mensaje }}
    </div>
    <div>

      <div class="wrapper">

        <div class="ion-activatable ripple-parent custom-parent">
          Recuperar contraseña
          <ion-ripple-effect></ion-ripple-effect>
        </div>

      </div>


      <ion-content>